body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    background:
        linear-gradient(rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)),
        url('../img/background.jpg');

    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: bold;
}

p {
    color: #cccccc;
}
